body {
    font-weight: 400;
    /*font-size: 16px;*/
    line-height: 1.7;
    color: $color-black-coral;
}

.heading-primary {
    font-family: 'Pathway Gothic One', sans-serif;
    color: darken($color-black-coral, 35%);
    margin-bottom: 6rem;
    padding: 0 3rem;

    &--main {
        display: block;
        font-size: 7rem;
        font-weight: 400;
        text-transform: uppercase;

        &.big {
          font-size: 10rem;
        }

        &.white {
          color:$color-white;
          text-shadow: -1px 0 #999, 0 1px #999, 1px 0 #999, 0 -1px #999;
        }

        &.late {
          opacity: 0;
          text-align: center;
          transition: opacity .1s linear 0s;

          &.active {
            opacity: 1;
            transition: opacity .3s linear 0s;
          }
        }

        @include respond(phone) {
            font-size: 5rem;
        }
    }

    &--center {
      text-align: center;
    }


    &--sub, &--upper {
        display: block;
        font-size: 1.75rem;
        font-weight: 300;
        font-family: 'Strait', sans-serif;
        color: lighten($color-black-coral, 5%);

        @include respond(phone) {
            --letter-spacing: .5rem;
        }
    }

    &--upper {
      color:darken($color-black-coral, 35%);
      font-size: 1.3rem;
      position: relative;

      &:before {
        content: ' ';
        left: -35px;
        display: block;
        position: absolute;
        background-color: lighten($color-black-coral, 5%);
        height: 1px;
        width: 20px;
        top: 10px;
      }
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    --background-image: linear-gradient(to right, $color-black-coral, $color-black-coral);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;

    @include respond(tab-port) {
        font-size: 3rem;
    }

    @include respond(phone) {
        font-size: 2.5rem;
    }

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: $default-font-size;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}

.lighten {
  color: lighten($color-black-coral, 5%);

  &.foxy {
    color: lighten($color-light-red-ochre, 5%);
  }
}

.more-infos {
  font-family: 'Strait', sans-serif;
  position: absolute;
  width: 50%;
  left: 50%;
  --height: 15rem;
  --border: dashed 1px #bbb;
  bottom: 0rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  transform: translateY(calc(100% - 3rem));

  &__child {
    width: 25%;
    padding: 0rem 1rem;
    border-right: dashed 1px lighten($color-black-coral, 30%);

    ul {
      padding-left: 1rem;
    }
  }
}

.button-container {
  text-align: center;
  padding: 1rem;

  &.late {
    opacity: 0;
    --transform: scale(2);
    text-align: center;
    transition: opacity 0s linear 0s, transform .1s ease-in 0s;

    &.active {
      opacity: 1;
      transform: scale(1);
      transition: opacity .2s ease-in .1s, transform .15s ease-in .1s;
    }
  }

  button {
    background-color: darken($color-light-red-ochre, 3%);
    min-width: 23rem;
    border: solid 1px darken($color-light-red-ochre, 1%);
    font-size: 2.5rem;
    padding: 1.5rem 3rem;
    line-height: 2rem;
    color: white;
    border-radius: 3px;
    font-family: 'Pathway Gothic One', sans-serif;
    height: 6rem;
    box-shadow: 0px 0px 6px #695b5b;
    letter-spacing: .3rem;
    font-weight: 300;
    opacity: .95;
    cursor:pointer;
  }
}

.skill-icon {
  font-size: 4rem;
  color: darken(#596984, 15%);
}
